.python-version
*.npz
*.pkl
*.docx
*.csv
*.pyc

Drv_UDPST*
gxipy*
__pycache__*

.kilocode*
ao_project.egg-info*
data/checkpoint
data/feature_maps_features_*.png
data/conv_kernels.png
data/history.png
