.python-version
*.npz
*.pkl
*.docx
.~*
**/.omo/
*.csv
*.pyc
*.so
*.o

Drv_UDPST*
gxipy*
__pycache__*
.venv*
.vscode*
!.vscode/settings.json

.kilocode*
**/ao_shaping.egg-info*
*.zip
*.obj

!data/data_analysisy.py
!data/streamlit_visualizer.py
history.png

data/*
ckpts*
!data/data_analysis.py
.marscode*
.kilocode*
uv.lock
notebooks/checkpoint
notebooks/.ipynb_checkpoints*
data/*.py

NuitkaGUI.exe
DM_combined.*
DM_cam.*
DM_combined.dist*

logs*
.history*
logs/**/*.png
logs/*.txt
scripts/logs*
src/ao_shaping.egg-info*
.trae*
.coverage
test_output*



src/calculators/**/*.c

*.pyd
src/calculators/build/temp*
src/calculators/*.html
docs/SLM_DLL_ver*
src/ao_shaping/drivers/ccd/_miicam_sdk*
docs/slm-200*

# Simulation data
data_adam/
docs/WFS20_Manual*
.opencode/
# Binary assets
*.png
.agents/skills*
nul
checkpoints*
wandb*

.kilo*
libs/micro_drive1300/docs*
libs/miicamsdk.20240728*
!libs/miicamsdk.20240728/python/samples*
libs/SLM_DLL_ver.2.51/sample*
libs/SLM_DLL_ver.2.51/tool*
scripts/_test*
libs/micro_drive1300/**/*.dll
libs/micro_drive1300/**/*.lib
libs/micro_drive1300/**/*.exe
libs/micro_drive1300/c/std*.txt
performance_comparison.md
docs/micro deformable mirror/docs/shiliang_extracted*
